<?
//to force timthumb use class "tt_resize"

//thumbmaster config
define('TIMTHUMB_PATH',get_stylesheet_directory().'/timthumb.php');//absolute path to timthumb.php should be somewhere in wp-content
